#root {
  text-align: center;
  height: 98%;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*this css is here to allow the react flow attribution text to be visible*/
.react-flow__panel.react-flow__attribution.bottom.left{
  background: transparent;
}

/* HTML: <div class="loader"></div> */
.loader {
  color: #333131;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 15px 0 0 4px, 30px 0 0 2px, 45px 0 0 0;
  transform: translateX(-30px);
  animation: l21 .7s infinite alternate linear;
}

@keyframes l21 {
  50%  {box-shadow: 15px 0 0 2px, 30px 0 0 4px, 45px 0 0 2px}
  100% {box-shadow: 15px 0 0 0  , 30px 0 0 2px, 45px 0 0 4px}
}

.blurContent {
  animation: moveToTopLeft 4s forwards;
}

.blurContentSvg {
  animation: scaleToTopLeft 4s forwards;
}

@keyframes moveToTopLeft {
  from {
    left: 0;
    top: 0;
    transform: translate(0, 0);

  }
  to {
    left: 6.3em;
    top:  4.3em;
    transform: translate(calc(-50% + 6.3em),calc(-50% + 4.3em));

  }
}
@keyframes scaleToTopLeft {
  from {
      width: 500px;
      opacity: 1;
      stroke: oklch(0.889 0.061 308.703);
  }
  to {
      width: 100px;
      opacity: 0.2;
      stroke: oklch(0.95 0.052 163.051);
  }
}